# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache & build artifacts
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
build/
dist/
*.egg-info/

# Git & CI/CD
.git/
.gitignore
.github/

# Environment and secrets
.env
.env.*
!.env.example

# Datasets (large historical raw / processed data)
dataset/
data/*.csv
data/*.parquet

# Logs & temporary run data
logs/*.log
logs/*.csv
*.sqlite
*.db

# IDE & Editor settings
.vscode/
.idea/
*.swp

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Docker files
Dockerfile*
docker-compose*
