numpy>=1.26.4,<2.4.0
pandas>=2.2.0
python-dotenv>=1.0.0
python_binance>=1.0.19
ta_lib>=0.4.28
websocket_client>=1.6.0
psutil>=5.9.0
certifi>=2024.2.2
pyarrow>=15.0.0
numba>=0.58.0
lightgbm>=4.0.0
scikit-learn>=1.4.0
joblib>=1.3.0
scipy>=1.11.0
hmmlearn>=0.3.0
ccxt>=4.0.0
